@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600&family=Red+Hat+Text:wght@400;500&family=Rufina:wght@400;700&display=swap');

//family
$font-poppins: 'Poppins', sans -serif;
$font-montserrat:'Montserrat', sans-serif;
$font-red:'Red Hat Text', sans-serif;
$font-rufina:'Rufina', serif;
//for logo
$font-logo: 'Cinzel', serif;


//font weight
$font-weight--bold: 700;
$font-weight--semi-bold: 600;
$font-weight--medium: 500;
$font-weight--regular: 400;
$font-weight--light: 300;
