@import "src/styles/mixins";
@import "src/styles/fonts";

.footer-block {
  padding: 72px 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f5f7;
  color: #2d2e2f;

  //background: #bdc3c7;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
}

.footer {
  display: flex;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  padding-left: 16px;
  border-left: 3px solid #10e6ca;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-logo-wrapper {
  flex-direction: column;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
}

.footer-logo-img {
  width: 64px;
  margin-right: 8px;
}


.footer-logo-title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.footer-logo-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.footer-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}





@include lg-screen() {

}

@include md-screen() {
  .footer-logo-text {
    margin-bottom: 48px;
  }

  .footer-block {
    padding: 48px 0;
  }
}

@include sm-screen() {
  .footer {
    flex-direction: column-reverse;
  }

  .footer-content {
    border: none;
    padding: 0;
    align-items: center;
  }

  .footer-logo {
    padding: 0;
    margin-top: 24px;
  }

  .footer-logo-text {
    margin-bottom: 24px;
  }

  .footer-block {
    padding: 24px 0;
  }

  .footer-wrapper {
    flex-direction: column;
  }
}

@include xs-screen() {
}
