@import "src/styles/mixins";
@import "src/styles/fonts";

.header-block {
  background-color: #00061cc2;
  position: fixed;
  top: 0;
  left: 0;
  height: 44px;
  z-index: 1000;
}

.header-wrapper {
  display: flex;
  width: 100%;
  max-width: 1920px;
  padding: 0 80px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 24px;
  height: 44px;
  margin-right: 8px;
}

.logo-title {
  font-family: $font-montserrat;
  font-size: 14px;
  font-weight: 400;
  /* color: #a59e9e; */
}

//font-family: $font-red;
//font-family: $font-montserrat;
//font-family: $font-poppins;
//font-family: $font-rufina;

.menu-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #d5d5d6;
}

.menu-btn {
  display: none;
}

.menu-item {
  cursor: pointer;
  font-family: $font-montserrat;
  font-size: 14px;
  font-weight: 400;
  list-style-type: none;

  &:hover {
    color: white;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: black;
  font-family: $font-montserrat;
  font-size: 14px;
  font-weight: 400;
  display: none;
}

.contact-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.phone {
  margin-bottom: 8px;
}

.mail {
  margin-bottom: 8px;
}

.contact-icon {
  margin-right: 10px;
  width: 25px;
}

//mobile-menu

.line1 {
  //transform: rotate(-45deg) translate(-6px, -6px);
  position: absolute;
  //margin-bottom: 0 !important;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  top: 12px;
}

.line2 {
  //transform: rotate(45deg) translate(-6px, 0);
  transform: rotate(45deg);
  position: absolute;
}

.menu-mobile-list {
  display: none;
}

.header-block-active {
  background-color: #070708eb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  animation: show-menu 0.5s forwards;
}

.mobile-list-active {
  display: flex;
}

.menu-mobile-wrapper {
  display: none;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  padding: 0 40px;
}

.menu-btn {
  display: none;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow: hidden;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.menu-line {
  width: 17px;
  height: 1px;
  background-color: #FFFFFF;
  transition: all 0.3s ease;
}

.btn-menu-top {
  margin-bottom: 6px;
}

//menu-list
.menu-mobile-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  top: 44px;
  height: 100vh;
  color: aliceblue;
  z-index: 1100000;
  transition: all 0.3s ease;
}

.menu-mobile-item {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  margin-bottom: 10vh;
  font-weight: 400;
  list-style-type: none;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: show-menu 0.7s forwards;
  color: #bbc4cc;

  &:hover {
    color: #FFFFFF;
  }
}


//@include xs-screen() {
//
//}
//
@include sm-screen() {
  .menu-wrapper {
    display: none;
  }

  .menu-mobile-wrapper {
    display: flex;
  }

  .menu-btn {
    display: flex;
  }

  .menu-mobile-item {
    font-size: 28px;
  }
}

//@include md-screen() {
//
//}

//@include lg-screen() {
//
//}
//
//@include xl-screen() {
//
//}


@keyframes show-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
