@import "src/styles/mixins";
@import "src/styles/fonts";

.header-block {
  background-color: #00061cc2;
  position: fixed;
  top: 0;
  left: 0;
  height: 44px;
  z-index: 1000;
}

.header-wrapper {
  display: flex;
  width: 100%;
  max-width: 1920px;
  padding: 0 80px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 24px;
  height: 44px;
  margin-right: 8px;
}

.logo-title {
  font-family: $font-montserrat;
  font-size: 14px;
  font-weight: 400;
  /* color: #a59e9e; */
}

//font-family: $font-red;
//font-family: $font-montserrat;
//font-family: $font-poppins;
//font-family: $font-rufina;

.menu-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #d5d5d6;
}

.menu-item {
  cursor: pointer;
  font-family: $font-montserrat;
  font-size: 14px;
  font-weight: 400;
  list-style-type: none;

  &:hover {
    color:white;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: black;
  font-family: $font-montserrat;
  font-size: 14px;
  font-weight: 400;
  display: none;
}

.contact-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.phone {
  margin-bottom: 8px;
}

.mail {
  margin-bottom: 8px;
}

.contact-icon {
  margin-right: 10px;
}


//@include xs-screen() {
//
//}
//
//@include sm-screen() {
//
//}
//
//@include md-screen() {
//
//}
//
//@include lg-screen() {
//
//}
//
//@include xl-screen() {
//
//}
