@import "src/styles/mixins";
@import "src/styles/fonts";

.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(198.73deg, #00000000 15.31%, #0000008f 52.37%),url("assets/back/medium.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main-content-left {
  padding-right: 5vw;
  opacity: 0.9;

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logo-main {
    width: 18vh;
    height: 18vh;
    min-width: 192px;
    min-height: 192px;
    background-image: linear-gradient(324deg, #3a1c5887 15.31%, #fc817200 67.37%), url("assets/logo-main.svg") ;
    //background-image: linear-gradient(81deg, #3a1c587d 15.31%, #fc817242 67.37%), url("assets/logo-main.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .logo-title-main {
    color: #fdbc9d;
    font-family: $font-logo;
    font-weight: 400;
    font-size: 62px;
    margin-top: 8px;
    //text-shadow: 6px 4px 3px #09164a;
    //text-shadow: -4px 4px 20px #ffbea0;
    //text-shadow: -4px 4px 20px #ffbea0d4;
    text-shadow: -4px 4px 20px #b52a2a;
  }

  .first-main {
    font-weight: 600;
    font-size: 64px;
  }
}

.main-content-right {
  padding-left: 5vw;
  border-left: 3px solid white;

  .select-title {
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 84px;
    color: white;
    max-width: 668px;
    margin-bottom: 48px;
    //text-shadow: 6px 4px 20px #18154e;
    text-shadow: 6px 4px 20px #97396b;
  }

  .main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 214px;
    height: 48px;
    background: #11144b2e;
    border: 1px solid #ffc7ac;
    border-radius: 10px;
    cursor: pointer;

    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f9dfd2;

    &:hover {
      color: black;
      background: #fdbc9d;
      border: 1px solid #fdbc9d;
    }
  }
  //.your {
  //  color: #fdbc9d;
  //}
}

@include xs-screen() {
  .main-block {
    background-image: url("assets/back/small.jpg");
  }
}
//
@include sm-screen() {
  .main-content {
    flex-direction: column;

    .select-title {
      text-align: center;
    }
  }
  .main-content-left {
    margin-top: 5vh;
    padding-right: 0;
  }
}

@include md-screen() {
  .main-content-right {
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .select-title {
      font-size: 68px;
    }
  }
}

@include lg-screen() {
  .main-block {
    background-image: url("assets/back/full.jpg");
  }
}

//@include xl-screen() {
//
//}
