@import "src/styles/mixins";
@import "src/styles/fonts";

.why-block {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 72px 0;
  background-color: #FFFFFF;

  //first
  //background: #bdc3c7;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //second
  //background: #0F2027;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //three
  //background: #2980B9;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.why-wrapper {
  align-items: center;
  justify-content: space-around;
}

.why-title-block {
  color: #171515;
}

.why-content {
  display: grid;
  grid-column: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
  width: 40%;
}

.why-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //background-color: $grey1;
  padding: 21px;
  font-family: $font-montserrat;
  font-weight: 400;

  background-color: #f9eeee;
  height: 20vh;
  min-height: 248px;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .why-title {
      color: #FFFFFF;
    }

    .why-text {
      color: floralwhite;
      text-shadow: 6px 4px 20px #525152;
      font-weight: 400;
    }
  }
}

.why-title {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 16px;
  z-index: 20;
  text-align: center;
}

.title-simple-why {
  z-index: 20;
  text-align: center;
}

.why-text {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  z-index: 20;
}

//.why-img {
//  display: none;
//  position: absolute;
//  bottom: -200px;
//  /* bottom: -30%; */
//  right: 0;
//  height: auto;
//  width: 95%;
//  z-index: 10;
//  transform: rotate(
//                  180deg);
//}

.card-two {
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .why-title {
    color: #FFFFFF;
  }

  .why-text {
    color: floralwhite;
    text-shadow: 6px 4px 20px #525152;
    font-weight: 400;
  }
}

.card-one {

}

.card-three {
}

.card-four {
}

.select {
  //font-family: $font-red;
  //font-family: $font-montserrat;
  //font-family: $font-poppins;
  //font-family: $font-rufina;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #934f93;
  /* font-style: italic; */
  background: linear-gradient(
                  45deg, #934f93 33%, #cb5c61 66%, #9dc1d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
